* {
    box-sizing: border-box;
}

/* Jeg fikk et problem med en tykk hvit margin som brått dukket opp på høyre side av skjermen på mobil.

Jeg fikk den ikke bort, så jeg Googlet, og noen på Stack-Overflow hadde foreslått "overflow-x: hidden;

Jeg forstår at dette gjemmer overflow til høyre.

Her er linken til tråden: https://stackoverflow.com/questions/46012482/unwanted-white-space-on-right-side-in-mobile-view

*/

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

/* Gikk gjennom forelesningen og snakket litt med ChatGPT her. Koden ble skrevet selv, men jeg var brått litt usikker på hvorfor man definerer grid-template-areas. */

.grid-container {
    display: grid;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
    max-width: 100%;

}

header nav {
    width: 100%;
    padding-right: 5%;
    max-width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    max-width: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.logo {
    height: 60px;
    max-width: 100%;
}

.front-page-img {
    max-width: 100%;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-button {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1.3rem;
    margin: 1rem;
}

.breadcrumb-trail {
    display: flex;
    justify-content: center;
}

hr {
    margin: 1rem;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul li {
    padding: 2rem;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.footer-p {
    color: white;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

.shaker-48-img, .eldritch-482-img {
    width: 40%;
}

.shop-button, .shop-button-container {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

h3 {
    font-size: 1.6rem;
}

.price {
    font-size: 1.3rem;
}

.landing, .news-product, .bestseller-product {
    margin-bottom: 2rem;
}

.product-price {
    margin-top: -0.5rem;
    font-size: 1.3rem;
}

.size-8, .color-black-text {
    font-size: 1.1rem;
}

.size-container {
    display: flex;
    gap: 0.5rem;
}

.size {
  background-color: black;
  color: white; 
  font-size: 1.3rem; 
}

.color-button {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1rem;
}

.color-button-container {
    display: flex;
    gap: 0.3rem;
}

.add-to-cart {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.add-to-wishlist {
    border: 0.1em grey solid;
    background: white;
    color: black;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 10px;
}

h4 {
    font-size: 1.4rem;
}

.details-text {
    width: 95%;
}

.size-chart-button {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.size-chart-container, .other-items {
    display: flex;
    justify-content: center;
}

.size-chart-container {
    margin-bottom: 1rem;
}

.eldritch-482-product-img {
    width: 60%;
}

.h1-shopnow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact Us Page */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    gap: 1rem;
    background-color: black;
    padding: 20%;
    margin-top: 1rem;
}

#submit {
    border: 0.4em black solid;
    background: black;
    color: white;
    font-size: 1.3rem;
    margin-top: 1.6rem;
}

label {
    color: white;
}

.red {
    color: red;
}

.contact-us-h2 {
    margin-top: 2rem;
}


/* Media Queries for Desktop */

@media screen and (min-width: 700px) {
    
    .grid-container {
        display: grid;
        grid-template-areas: 
        "header header header" 
        "main main main" 
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .shaker-48-img, .eldritch-482-img {
        width: 30%;
    }

    .shaker-flex-container, .eldritch-flex-container, .bestseller-product-container {
        display: flex;
        justify-content: center;
    }

    footer nav ul {
        display: flex;
    }

    header nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10%;
        max-width: 100%;
    }

    .eldritch-482-product-img {
        width: 70%;
    }

    .img-product-options {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .product-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    picture {
        width: 50%;
    }

    .landing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .h1-shopnow {
        display: flex;
        flex-direction: column;
        margin-right: 20%;
    }
}

/* Media Queries for Tiny Adjustments */

@media screen and (max-width: 700px) {

    .main-product-img {
        display: flex;
        justify-content: center;
    }
    
    }

/* Notater:

            Jeg har brukt <button> taggen her og der.
            Jeg er klar over at disse ikke linker noe sted.
            Hvis de skulle linke noe sted så hadde jeg brukt <a> isteden, og bare styla de på samme måte.
            Jeg har brukt <a> taggen der det finnes noe relevant å linke til.

            Jeg valgte å ikke dulle rundt med ikoner.
            Om jeg skulle gjort det hadde jeg linka til et stylesheet fra
            Font Awesome, inkludert ikonet i HTML'en på alle tre sidene med en <i>
            tag, lagd two containere (en til ikonet og en til top-nav menyen),
            lagt inn Javascript, linka containerne til Javascripten, brukt 
            display: none; for å gjøre top-nav unsynlig, og latt 
            Javascripten ta hånd om at top nav blir synlig igjen
            når man trykker på ikonet. 

   Kilder:

            https://www.openai.com
            https://www.youtube.com/watch?v=u044iM9xsWU&ab_channel=KevinPowell
            https://www.youtube.com/watch?v=3elGSZSWTbM&ab_channel=KevinPowell
            https://www.youtube.com/watch?v=8QSqwbSztnA&ab_channel=KevinPowell
            https://www.youtube.com/watch?v=phWxA89Dy94&t=46s&ab_channel=SlayingTheDragon
            https://www.youtube.com/watch?v=EiNiSFIPIQE&t=157s&ab_channel=SlayingTheDragon

            Jeg har ikke kopiert noe kode eller følgt noen step-by-step tutorial
            fra noen av disse, men har sett gjennom dem mens jeg har produsert nettstedet
            for å få en bedre forståelse for hva jeg holder på med.

*/




