/* Navbar */



nav {
    background-color: black;
}

nav li ul a {
    color: white;
    font-size: 1.5rem;
}

/* Home Page */

body {
    background-color: white;
}

/* Product Page */

/* Contact Us Page */

form {
    background-color: hotpink;
    width: 25%;
}