/* Everything */

* {
    font-family: sans-serif;
    margin: 0;
}

/* Navbar */

.logo {
    max-width: 20%;
}

nav {
    background-color: black;
}

nav li ul a {
    color: white;
    font-size: 1.5rem;
}

/* Home Page */

body {
    background-color: white;
}

.landing-page {
    /*Figure out why on earth this isn't working */
    background-image: url("../img/background-mobile.jpg");
    width: 50%;
    height: 50%;
}

/* Product Page */

/* Contact Us Page */

form {
    background-color: hotpink;
    width: 25%;
}

/* Footer */

footer {
    background-color: black;
}